@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
  .page {
    background-color: rgb(20,20,50);
    color: white;
    height: 100vh;
  }
</style>
